{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "wingspan-quiz.fullname" . }}
  labels:
    {{- include "wingspan-quiz.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "wingspan-quiz.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            name: ingress-nginx
      ports:
      - protocol: TCP
        port: 8080
  egress:
    - to:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: kube-system
      ports:
      - protocol: UDP
        port: 53
    - to:
      - podSelector: {}
      ports:
      - protocol: TCP
        port: 443
{{- end }}
