apiVersion: v1
kind: Service
metadata:
  name: wingspan-quiz
  labels:
    app: wingspan-quiz
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: wingspan-quiz
